
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment Store</title>
    <link rel="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <style>

        .container{
            margin-top: 50px;
        }
    </style>

    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success">
                    <span class="glyphicon glyphicon-ok"></span><Strong><h1>Thanku For Buying This Car</h1></Strong>
                    <hr class="message-inner-seperator">
                    <p>Thanku you for buying this car Transcation proced to Stripe </p>


                </div>

            </div>

        </div>
    </div>
    

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>